@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap");

/********************
* Colors
*/

:root {
  --background: #000;
  --color-primary: #4299e1;
  --color-secondary: #dd2040;
  --color-tertiary: #999;
  --remotely-indicator-color: #f8cbd2;

  --title-color: #fff;
  --card-text-description-color: #fafafa;
  --minor-text-color: #fafafa;

  --filter-btn-background-color: var(--background);
  --filter-active-color: var(--color-primary);
  --filter-title-color: #fff;
  --filter-list-background-color: var(--background);
  --filter-list-item-color: #fff;

  --load-more-color: #2d3748;
  --background-load-more: #edf2f7;
}

/********************
* Global styles
*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

/********************
* Container App Home
*/

.App__Container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--background);
}

#ovp-embed-search-app {
  margin-right: auto;
  margin-left: auto;
}

.App__Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 725px) {
  .App__Header {
    flex-direction: column-reverse;
  }
}

.App__PaginationNav {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--title-color);
}

.App__PaginationNavButtons {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  padding-bottom: 4px;
}

.App_PaginationTextIndicator {
  margin-right: 10px;
}

.App__Arrow {
  background-color: var(--color-tertiary);
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.App__Arrow:last-child {
  margin-left: 10px;
}

.App__Arrow:hover {
  background-color: var(--minor-text-color);
}

.App__Row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.App__ProjectCard {
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 50%;
}

.App__ProjectCard:hover {
  background-color: var(--color-tertiary);
}

@media (max-width: 550px) {
  .App__ProjectCard {
    width: 100%;
  }
}

@media (min-width: 750px) {
  .App__ProjectCard {
    width: 33.2%;
  }
}

@media (min-width: 1000px) {
  .App__ProjectCard {
    width: 25%;
  }
}

.App__DivBtnInfiniteScroll {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.App__LoadBtnInfiniteScroll {
  margin-right: auto;
  margin-left: auto;
  padding: 14px 20px;
  border-radius: 40px;
  color: var(--load-more-color);
  font-weight: bold;
  font-size: 16px;
  background-color: var(--background-load-more);
  cursor: pointer;
}

.App__LoadBtnInfiniteScroll:hover {
  background-color: var(--color-tertiary);
}

.App__LoadingIcon {
  -webkit-animation: rotation 2s infinite linear;
  color: var(--color-primary);
}

.App__Loading {
  margin: auto;
  padding: 20vh 0;
}

.App__ErrorMsg {
  padding: 20vh 4px;
  color: var(--title-color);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.App__ErrorMsgTitle {
  margin-bottom: 8px;
}

.App__ErrorMsgHelp {
  font-size: 24px;
}

.App__PaginationFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 14px 0;
}

@media (max-width: 550px) {
  .App__PaginationFooter {
    justify-content: center;
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

/********************
* Search Filters
*/

.SearchFilters__Flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.SearchFilters__SearchOption {
  background-color: var(--filter-btn-background-color);
  color: var(--filter-title-color);
  border: 1px solid var(--color-tertiary);
  padding: 8px 13px 8px 13px;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.SearchFilters__SearchOption--active {
  background-color: var(--filter-active-color);
  color: var(--background);
  border: 1px solid var(--filter-active-color);
  padding: 8px 13px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.SearchFilters__SearchOption:hover {
  background-color: var(--color-tertiary);
}

.SearchFilters__SearchOption--icon {
  margin-left: 2px;
}

@media (max-width: 499px) {
  .SearchFilters__SearchOption {
    margin-right: 4px;
  }

  .SearchFilters__Flex {
    width: 100%;
    overflow-x: scroll;
  }
}

.SearchFilters__Check {
  display: inline-block;
  margin-right: 8px;
  margin-left: -10px;
  width: 16px;
  height: 16px;
  background: var(--color-tertiary);
  color: var(--color-tertiary);
  border-radius: 50%;
  vertical-align: middle;
}

.SearchFilters__Check--active {
  background: var(--background);
  color: var(--color-primary);
}

.SearchFilters__MenuList {
  border-radius: 10px;
  border-width: 0;
  margin-top: 10px;
  padding-top: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--filter-list-background-color);
}

.SearchFilters__MenuList--scroll {
  border-radius: 10px;
  border-width: 0;
  margin-top: 10px;
  padding-top: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--filter-list-background-color);
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: 5px;
  scrollbar-color: var(--color-primary);
}

.SearchFilters__MenuItem {
  color: var(--filter-list-item-color);
}

.SearchFilters__MenuItemFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--filter-list-item-color);
}

.SearchFilters__LogoONGs {
  margin-right: 8px;
  margin-left: -10px;
  width: 25px;
  height: 25px;
  background: var(--color-tertiary);
  border-radius: 50%;
  vertical-align: middle;
}

.SearchFilters__Check--ONG {
  display: inline-block;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  background: var(--color-tertiary);
  color: var(--color-tertiary);
  border-radius: 50%;
  vertical-align: middle;
}

.SearchFilters__Check--active--ONG {
  background: var(--background);
  color: var(--color-primary);
}

/********************
* Project Card
*/

.ProjectCard {
  border-radius: 10px;
}

.ProjectCard__Image {
  height: 175px;
  width: auto;
  border-radius: 10px;
  background-size: cover;
  margin-bottom: 6px;
  display: flex;
}

.ProjectCard__CanRemotely {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--remotely-indicator-color);
  color: var(--color-secondary);
  margin-bottom: 5px;
  margin-left: 5px;
}

.ProjectCard__Owner {
  color: var(--minor-text-color);
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ProjectCard__Title {
  font-size: 18px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--title-color);
}

.ProjectCard__Description {
  font-size: 14px;
  color: var(--card-text-description-color);
  margin-bottom: 4px;
  height: 95px;
  line-height: 1.1rem;
}

@media (max-width: 550px) {
  .ProjectCard__Description {
    height: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 750px) and (max-width: 990px) {
  .ProjectCard__Description {
    height: 135px;
    margin-bottom: 2px;
  }
}

.ProjectCard__Footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.ProjectCard__Address {
  display: flex;
  flex-direction: row;
  color: var(--card-text-description-color);
}
.ProjectCard__Disponibility {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  color: var(--color-secondary);
}

.ProjectCard__FooterText {
  font-size: 14px;
  margin-left: 4px;
}
